@charset "UTF-8";

/* 全ページ共通 CSS */

	/* 基本 */	

		body {
			-webkit-text-size-adjust: 100%;  /* 文字サイズの自動調節を無効にする for iOS */
			font-family: '游ゴシック Medium', 'Yu Gothic Medium',							/* for Windows */
									 '游ゴシック', 'Yu Gothic',														/* for Windows */
									 '游ゴシック体', YuGothic,														/* for Mac */
									 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN',	/* for Mac */ 
									 'メイリオ', Meiryo,																	/* for Windows */
									 'ＭＳ ゴシック', 'MS Gothic',												/* for Windows */
									 sans-serif;
			line-height: 1.5;
			font-size: 16px;
			background-color: #fff;
			color: #333;
		}

		select, input, textarea, button {
			font-family: '游ゴシック Medium', 'Yu Gothic Medium',							/* for Windows */
									 '游ゴシック', 'Yu Gothic',														/* for Windows */
									 '游ゴシック体', YuGothic,														/* for Mac */
									 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN',	/* for Mac */ 
									 'メイリオ', Meiryo,																	/* for Windows */
									 'ＭＳ ゴシック', 'MS Gothic',												/* for Windows */
									 sans-serif;
			font-size: 1em;
		}

		a:link,
		a:visited,
		a:hover,
		a:active {
			color: #00f;
			text-decoration: none;
		}

	/* 段落（最後の子要素以外）の下余白を設定 */

		p:not(:last-child) {
			margin-bottom: 1.2em;
		}
